
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-github-circled-alt2:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */